<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Mixer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showAdd=!showAdd">
        <ion-icon slot="icon-only" [name]="showAdd?'close':'add'"></ion-icon>
      </ion-button>
      <ion-button (click)="openEqualizer()"
        ><ion-icon name="options-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showAdd">
    <ion-item>
      <ion-label>Nombre del mix</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mix MP3</ion-label>
      <div class="form-group">
        <label for="file">Choose File</label>
        <input
          type="file"
          id="file"
          [(ngModel)]="file"
          (change)="handleFileInput($event.target)"
        />
      </div>
    </ion-item>
    <ion-button expand="full" (click)="addMix()">
      Add
      <ion-icon slot="start" name="add"> </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div class="flex w100">
    <div
      class="mix"
      (click)="playMix(i, 0)"
      [ngClass]="{'mix-click': i === indexClick}"
      *ngFor="let mix of mixes; let i = index"
    >
      <div class="w100">
        <div class="w100 mix-information">
          <div class="flex no-wrap">
            <span class="w100">{{mix.name}}</span>
            <ion-icon
              slot="start"
              (click)="removeMix(i)"
              name="trash"
            ></ion-icon>
          </div>
          <span class="play">
            <ion-icon name="musical-notes-outline"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="prevIndex!==-1">
  <div class="holder">
    <div class="news">
      {{(mixes[prevIndex].name | titlecase)}}
      <span class="time">
        {{ ' ('+ (duration | time | date : 'HH:mm:ss.SS')+')'}}
      </span>
    </div>
  </div>

  <ion-item class="flex">
    <ion-label class="time">
      {{currentTime | time | date : 'HH:mm:ss.SS'}}
    </ion-label>
    <ion-range
      class="w100"
      (click)="blurTime(0)"
      min="0"
      step="0.01"
      [max]="duration"
      (ionChange)="changeTime($event)"
      (mousedown)="focusTime($event)"
      [value]="currentTime"
    ></ion-range>
    <ion-button (click)="stopAllMix()" *ngIf="indexClick !== -1">
      <ion-icon name="stop"></ion-icon>
    </ion-button>
    <ion-button (click)="replayMix()" *ngIf="indexClick === -1">
      <ion-icon name="refresh-circle"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
